.print {
	display: none;
}

@media print {
	@page {
    /* margin: 2cm;  */
	/* Standard margins for top, right, bottom, left */
	margin: 1cm 1.5cm 1cm 2cm;
  }
	
	body {
    -webkit-print-color-adjust: exact; /* Ensures background colors/images print */
    print-color-adjust: exact;
  }
  
	.print, .print * {
	  visibility: visible;
	}
  
	.print {
		display: block;
		position: absolute;
		left: 0;
		top: 2rem;
		font-size: 11px;
	}

	table, tr, th, td {
		width:100%;
    table-layout:fixed;
		border-collapse:collapse;
		border: 1px solid !important;
	}
}